/* Smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}

/* Custom navbar styles */
.navbar-link {
  color: #000000; /* text-neutral */
  background-color: transparent !important;
}

.navbar-link:hover {
  color: #FF0000 !important; /* text-red-500 */
  background-color: transparent !important;
}

.navbar-link:active {
  color: #FF0000 !important; /* text-red-500 */
  background-color: transparent !important;
}

.navbar-link:focus {
  color: #FF0000 !important; /* text-neutral */
  background-color: transparent !important;
}

.dropdown-link {
  background-color: transparent !important;
}

.dropdown-link:hover,
.dropdown-link:active,
.dropdown-link:focus {
  background-color: transparent !important;
  color: inherit !important;
}