@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: 'Archivo', sans-serif;
  margin: 0;
  max-height: 100vh;
  background-color: #FFFFFF;
  background-image: url('./assets/Illustration.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -50px;
  opacity: 1;
  position: relative;
  overflow: hidden;
}


.btn-header {
  background-color: #FF0000;
}

@utility navbar {
  @apply px-0 py-0 mx-0 my-0;
}