@import "tailwindcss";
@plugin "daisyui";

.main {
  font-family: 'Archivo', sans-serif;
  margin: 0;
  max-height: 100vh;
  background-color: #FFFFFF;
  background-image: url('./assets/Illustration.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -50px;
  opacity: 1;
  position: relative;
  overflow-x: hidden;
}

.bg-intro {
  background-image: linear-gradient(to bottom, #990000, #FF0000), url('./assets/bg-introduction.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
  position: relative;
}


.btn-header {
  background-color: #FF0000;
}

@utility navbar {
  @apply px-0 py-0 mx-0 my-0;
}